<%= nested_form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, "Name" %>  
  <%= f.text_field :name %>  

	<h3>Menu Items</h3>
	<table>
		<tr><th>Name</th><th>Description</th><th>Price</th><th>&nbsp;</th></tr>
			<%= f.fields_for :menu_items do |menu_item_form| %>
				<tr>
			  		<td><%= menu_item_form.text_field :name %></td>
			  		<td><%= menu_item_form.text_field :description %></td>
			  		<td><%= menu_item_form.text_field :price %></td>
			  		<td><%= menu_item_form.link_to_remove "Remove" %></td>
				</tr>
			<% end %>
	</table>
	<p><%= f.link_to_add "Add a Menu Item", :menu_items %></p>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
