<p id="notice"><%= notice %></p>

<h1><%= @restaurant.name%></h1>
	Meet the droolicious items on the menu
	<% unless @order.nil? %>
		<%= render :template => 'orders/edit' %>
	<% else %>
		<%= render 'menu_read_only'%>
	<% end %>

<% if can? :manage, @restaurant %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<% end %>
<%= link_to 'Back', restaurants_path %>
